// Topper - Cover
@use '../../src/assets/scss/global' as *;
.topper-cover {
  position: relative;
  overflow:hidden;
  z-index:1;
  min-height: 400px;
  height: 40vw;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
  
  @include grid-container;
  @include breakpoint(medium){
    height:clamp(400px, calc((100vw - 744px) / (1440 - 744) * (600 - 400) + 400px), 600px);
  }
  & > .acf-innerblocks-container {
    height:calc(100% - var(--wp--preset--spacing--fluid-50-100));
    display:grid;
    align-content:flex-end;

    .story-grid > .acf-innerblocks-container {
      display:block;
      @include breakpoint(medium){
      display:grid;
      gap: var(--wp--style--block-gap, 0);
      grid-template-columns: auto auto;
      align-content: flex-end;
      }
      .story {
        align-self: flex-end;
        & > .acf-innerblocks-container {
          max-width:unset;
        }
      }
    }
  }
}

.editor-styles-wrapper {
  .wp-block-acf-topper-cover {
    z-index:0;
    margin-top:0;
  }
}

