// Accordion Menu
@use '../global' as *;

.accordion-menu {
	
	&.nav-items {
        margin:0 0 0 0;
		text-align: center;
		display:flex;
		flex-direction: column;
		position: relative;
		padding:0 !important;
		justify-content: center;
		gap:10px;
    }
	a {
		position:relative;
		padding:0;
        font-size:26px;
		font-family: $body-font-family !important;
		display:block;
		color:var(--wp--preset--color--white);
		line-height: 1.1;
		transition:0.2s ease;
		i.fa-chevron-down {
			display:none;
		}
		span {
			position: relative;
			display:inline-block;
			transition:all 0.3s ease;
		}
	}
	a:hover {
		span {
			color:var(--wp--preset--color--white);
		}
	}

	&.nav-items li {
        list-style-type: none;
		position: relative;
		&.current_page_parent {
			& > a {
				color:var(--wp--preset--color--secondary) !important;
			}
			.nav-drop .current-menu-item > a {
				color:var(--wp--preset--color--secondary) !important;
			}
		}
		&.is-accordion-submenu-parent {
			&[aria-expanded="true"] {
				padding-bottom: 16px !important;
			}
		}
		&.is-accordion-submenu-parent > a:after {
			display:none;
		}
		&.is-accordion-submenu-parent > a i.fa-chevron-down {
			display: inline;
			font-size:20px;
			position:absolute;
			top:calc(50% - 4px);
			transform:translateY(-50%);
			margin:0 1rem;
			color:currentColor
		}
		&.is-accordion-submenu-parent[aria-expanded=true] > a i.fa-chevron-down {
			transform:translateY(-50%) rotate(180deg);
		}
    }
	
	.nav-drop {
		display:inline-flex;
		flex-direction: column;
		margin-left:0;
		padding-left:0;
		li {
			justify-content: flex-start;
			
		}
		a {
			font-family: $header-font-family;
			font-size:20px;
			font-weight: 500;
			text-transform: unset;
			padding-right:unset;
			@include breakpoint(medium){
				padding-top:0.5rem;
				padding-bottom:0.5rem;
			}
		}
	}
	&.is-accordion-submenu.nav-drop {
		@include breakpoint(medium){
			display:block !important;
		}
	}
}
