/** === Button === */
@use '../global' as *;
.wp-block-buttons {
    margin-top:1.625rem;
    gap:15px;
}
.button-link {
    background-size: 0 1px;
    svg {
        width:18px;
        height:15px;
        margin-left:3px;
    }
    &:hover {
		background-size: 100% 1px; 
	}
}
.wp-block-button {

	// add general foundation button styling
	.wp-block-button__link {
		@extend .button !optional;
        @each $color, $code in $foundation-palette {

            &.has-#{"" + $color}-background-color {
                background-color: $code;
            }

            &.has-#{"" + $color}-color {
                color: $code;
            }
        }
        display:inline-block;
        font-family: var(--wp--preset--font-family--primary);
        font-size:var(--wp--preset--font-size--fluid-18-20);
        font-weight:700;
        padding-top: 12px !important;
        padding-bottom: 12px !important;
        padding-left:clamp(20px, calc((100vw - 375px) / (1440 - 375) * (24 - 20) + 20px), 24px) !important;
        padding-right:clamp(20px, calc((100vw - 375px) / (1440 - 375) * (24 - 20) + 20px), 24px) !important;
        white-space: nowrap;
        border-radius:50px;
       //color:var(--wp--preset--color--cloud) !important;
        &:hover {
            color:var(--wp--preset--color--primary) !important;
            background-color: var(--wp--preset--color--yellow-green) !important;
        }
	}
    &.is-style-fill-accent-beige .wp-block-button__link,
    &.is-style-fill-primary .wp-block-button__link,
    &.is-style-fill-off-white .wp-block-button__link {
        padding-top: clamp(15px, calc((100vw - 375px) / (1440 - 375) * (17 - 15) + 15px), 17px) !important;
        padding-bottom: clamp(15px, calc((100vw - 375px) / (1440 - 375) * (17 - 15) + 15px), 17px) !important;
    }
    
	// add special styling for squared buttons
	&.is-style-squared .wp-block-button__link {
		border-radius: 0;
	}

	// add outline styles
	&.is-style-outline .wp-block-button__link {
		@extend .hollow !optional;
        //border: 2px solid currentColor; 
        background-color: transparent; 
        color: var(--wp--preset--color--primary); 
        &:hover {
            border: 2px solid var(--wp--preset--color--primary); 
            background-color: var(--wp--preset--color--primary); 
            color: var(--wp--preset--color--cloud) !important;  
        }
	}
}