// Default Page Template
@use '../global' as *;
@mixin grid-container {
    padding-left:24px;
    padding-right:24px;
    margin-left:auto;
    margin-right:auto;
    @include breakpoint(medium){
        padding-left:var(--wp--preset--spacing--max-50);
        padding-right:var(--wp--preset--spacing--max-50);
    }
}
@mixin header-grid-container {
    padding-left:24px;
    padding-right:24px;
    @include breakpoint(medium){
        padding-left:var(--wp--preset--spacing--max-50);
        padding-right:var(--wp--preset--spacing--max-50);
    }

}

html { scroll-behavior: smooth; }

body {
    background-color:var(--wp--preset--color--eggshell);
}

.is-layout-constrained > * {
    @include breakpoint(small only){
      max-width: unset !important ;
    }
  }

main {
    display:block;
    height: 100%;
}



.grecaptcha-badge {
    z-index: 10;
}