// Factoids
@use '../../src/assets/scss/global' as *;
.factoids {

ul {
  display:grid;
  margin:0;
  padding:0;
  grid-gap:0 70px;
  border-bottom:2px solid var(--wp--preset--color--secondary);
}

ul li {
  padding: var(--wp--preset--spacing--fluid-24-36) 0;
  display:grid;
  gap:0;
  position: relative;
  align-items: center;
  border-top:2px solid var(--wp--preset--color--secondary);
  transition:background-color 0.3s ease;
  @include breakpoint(medium){
   grid-template-columns: 1fr 1fr;
   align-items: center;
   justify-content: space-between; 
  }
  &:hover {
    background-color:color-mix(in srgb, var(--wp--preset--color--white) 80%, var(--wp--preset--color--cloud) 80%  );
  }
  .factoids-metric {
    font-size:var(--wp--preset--font-size--fluid-42-70);
    font-weight: 700;
    position: relative;
    margin:0;
    color:var(--wp--preset--color--secondary);
  }
  .factoids-description {
    font-size:var(--wp--preset--font-size--fluid-18-24);
    @include breakpoint(medium){
      text-align: right;
    }
  }
}
ul li:before {
  display:none;
}


}


