// Factoids
@use '../../src/assets/scss/global' as *;
.factoids {

ul {
  display:grid;
  margin:0;
  padding:0;
  grid-gap:0 70px;
  border-bottom:2px solid var(--wp--preset--color--secondary);
}

ul li {
  padding: var(--wp--preset--spacing--fluid-24-36) 0;
  display:grid;
  gap:0;
  position: relative;
  align-items: center;
  border-top:2px solid var(--wp--preset--color--secondary);
  background-color:var(--wp--preset--color--eggshell);
  //transition:background-color 0.3s ease;
  @include breakpoint(medium){
   grid-template-columns: 1fr 1fr;
   align-items: center;
   justify-content: space-between; 
   
  }
  
  &:hover {
    background-color:color-mix(in srgb, var(--wp--preset--color--white) 80%, var(--wp--preset--color--cloud) 80% );
    &::before, &::after {
      content:"";
      position:absolute;
      display:block;
      width:var(--wp--preset--spacing--fluid-30-60);
      height:100%;
      border:2px solid var(--wp--preset--color--secondary);
      background-color:color-mix(in srgb, var(--wp--preset--color--white) 80%, var(--wp--preset--color--cloud) 80% );
      border-radius: $border-radius;
      top:-2px;
      z-index:-1;
    }
    &::before {
      left:calc(-1 * var(--wp--preset--spacing--fluid-24-36));
    }
    &::after {
      right:calc(-1 * var(--wp--preset--spacing--fluid-24-36));
    }
  }
  .factoids-metric {
    font-size:var(--wp--preset--font-size--fluid-42-70);
    font-weight: 700;
    position: relative;
    margin:0;
    color:var(--wp--preset--color--secondary);
  }
  .factoids-description {
    font-size:var(--wp--preset--font-size--fluid-18-24);
    color:var(--wp--preset--color--primary);
    @include breakpoint(medium){
      text-align: right;
    }
  }
  
}
&.has-vertical-orientation {
  @include breakpoint(xmedium){
    padding-left:var(--wp--preset--spacing--fluid-32-80);
  }
  ul {
    border-bottom:none;
    @include breakpoint(medium down){
      margin-bottom:32px;
    }
  }
    ul li {
      grid-template-columns: unset;
      border-top:2px solid var(--wp--preset--color--primary);
      &:hover {
        background-color:unset;
      }
      &:before, &:after {
        display:none;
      }
    }
    .factoids-metric {
      font-size:var(--wp--preset--font-size--fixed-70);
      font-weight:900;
    }
    .factoids-description {
      font-size:18px;
      @include breakpoint(medium){
        text-align: unset;
      }
    }
  }

}


