// Factoids
@use '../../src/assets/scss/global' as *;
.factoids {
  padding-top:var(--wp--preset--spacing--max-62);
  padding-bottom:var(--wp--preset--spacing--max-62);
  
  @include breakpoint(medium){
    
  }
ul {
  display:grid;
  margin:0;
  padding:0;
  grid-gap:0 70px;
  border-bottom:2px solid var(--wp--preset--color--secondary);
}

ul li {
  padding: 24px 0;
  display:grid;
  gap:0;
  position: relative;
  align-items: center;
  border-top:2px solid var(--wp--preset--color--secondary);
  @include breakpoint(medium){
   grid-template-columns: 1fr 1fr;
   align-items: center;
   justify-content: space-between; 
  }
  .factoids-metric {
    font-size:var(--wp--preset--font-size--fluid-42-70);
    font-weight: 700;
    position: relative;
    margin:0;
    color:var(--wp--preset--color--secondary);
  }
  .factoids-description {
    font-size:var(--wp--preset--font-size--fluid-18-24);
    @include breakpoint(medium){
      text-align: right;
    }
  }
}
ul li:before {
  display:none;
}


}


