@use '../global' as *;
.mobile-menu,
.site-title-bar {
	z-index: 1000;
	
}
//
.desktop-menu,
.site-navigation .top-nav-right {
  display:flex;
  @include breakpoint(medium){
    display:flex;
  }

}

.site-header{
	z-index: 1000 !important;
	//position:absolute;
	top:0;
	left:0;
	right:0;
	
	//@include grid-container;
}

.site-navigation {
	position:absolute;
	top:0;
	left:0;
	right:0;
	display:grid;
	padding-top:28px;
	padding-bottom:28px;
	z-index:1000;
	@include header-grid-container;
	@include breakpoint(medium){
		grid-template-columns: 2fr 1fr;
		padding-top:35px;
		padding-bottom:35px;
	}
	@media (min-width: 1120px) {
		grid-template-columns: 1fr 1.5fr;	
	}
	@include breakpoint(xmedium){
		grid-template-columns: 1fr 2fr;	
	}
	.column {
		position:relative;
		
	}
	.logo {
		display:block;
		img,svg {
			width:100%;
			max-width:clamp(200px, calc((100vw - 744px) / (1440 - 744) * (243 - 200) + 200px), 243px);
			height: auto;
			display:block;
		}
		
	}
	
	.top-nav-left {
		flex-grow: 1;
	}
	.top-nav-right {
		display:none;
		flex-shrink: 1;
		justify-content: flex-end;
		padding-right:rem-calc(50);
		@include breakpoint(xmedium){ 
			padding-right:70px;
			display:flex;
		}
		
	}
	
}

.mobile-menu {
	position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
	padding-top: 90px;
    padding-bottom: 90px;
    opacity: 0;
    pointer-events: none;
    transition: opacity .2s cubic-bezier(0.645, 0.045, 0.355, 1);
    visibility: hidden;
    width: 100%;
    z-index: 900;
	background:linear-gradient(199deg, #244c5a 0%, #5cb8b2 250%);
	background:var(--wp--preset--color--primary);
	@include breakpoint(medium){
		width:50%;
		left:unset;
		box-shadow: -4px 0 8px 0 rgba(0, 0, 0, 0.1);
	}
	@include breakpoint(xmedium){
		display:none;
	}
	&.open {
		opacity: 1;
		//height:unset;
		overflow-x: hidden;
		overflow-y: auto;
		pointer-events: auto;
		visibility: visible;	
		.nav-items li {
			opacity:1;
		}
	}
    .logo-group {
        position: relative;
        top:0;
        padding-bottom:2rem;
		padding-top:1rem;
    }
	.logo {
		padding-top:1rem;
		max-width: rem-calc(200);
        @include breakpoint(medium){
            max-width:unset;
        }
        @include breakpoint(large){
            max-width: unset;
        }
	}
	.mobile-menu-content {
		width:100%;
		margin:100px 0 0 0;
		overflow:auto;
		height:100%;
		@include breakpoint(medium){
			margin:150px 0 0 0;
		}
		.menu-group {
			padding-bottom:2rem;
			display:flex;
			flex-direction: column;
			justify-content: space-between;
			height:90%;
		}
	}
}
.nav-toggle {
	margin-top:3px;
	height:45px;
	width:45px;
	background-color:#f7f1f2;
	border-radius:45px;
	border:0;
	appearance:none;
	box-shadow: none;
	position:relative;
	cursor:pointer;
	position:fixed;
    z-index: 1000;
    transition:all 0.2s ease;
	top:24px;
	right:24px;
	@include breakpoint(medium){
		right:var(--wp--preset--spacing--fluid-32-90-vw);
		top:74px
	}
	@include breakpoint(xmedium){
		display:none;
	}
    
	&.floating-nav-toggle {
        opacity:0;
    }
	&.floating-nav-toggle.is_stuck {
		opacity:0;
	}
	.nav-icon {
		position:absolute;
		top:50%;
		transform: translateY(-50%);
		right:10px;
		left:10px;
		height:1px;
		display:block;
		background: var(--wp--preset--color--primary);
		&:after, &:before {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background: var(--wp--preset--color--primary);
			content: "";
			-webkit-transform-origin: 50% 50%;
			transform-origin: 50% 50%;
			transition: background 300ms cubic-bezier(0.215, 0.61, 0.355, 1),transform 300ms cubic-bezier(0.215, 0.61, 0.355, 1),-webkit-transform 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
		}
		&:after {
			transform: translate3d(0, 7px, 0);
		}
		&:before {
			transform: translate3d(0, -7px, 0);
		}
	}
	
}

html.no-scroll {
	@include breakpoint(small only){
		height: 100% !important;
		position: relative;
		background:linear-gradient(199deg, #244c5a 0%, #5cb8b2 250%);
		background:var(--wp--preset--color--primary);
		body {
			overflow: hidden !important;
			height: 100% !important;
			position: relative;
			background:linear-gradient(199deg, #244c5a 0%, #5cb8b2 250%);
			background:var(--wp--preset--color--primary);
		}
	}
}

body.nav-open {
	overflow: hidden;
	@include breakpoint(xmedium){
		overflow: auto;
	}
	// &:not(.has-topper-cover) main {
	// 	@include breakpoint(xmedium) {
	// 		padding-top:133px;
	// 	}
	// }
}

.nav-open {
	.site-header {
		position:fixed;
		top:0;
		left: 0;
		right:0;
		background-color:var(--wp--preset--color--primary);
		height:150px;
		@include breakpoint(medium){
			left:50%;
			height:unset;
			
		}
		@include breakpoint(xmedium){
			left:0;
		}
		.site-navigation {
			@include breakpoint(xmedium){
				background:linear-gradient(199deg, #244c5a 0%, #5cb8b2 250%);
			}
		}
	}
	svg.primary-logo {
		color:var(--wp--preset--color--white);
		@include breakpoint(medium only){
			width:250px;
		}
		
	}
	&.has-topper-cover .site-header {
		background-color:var(--wp--preset--color--primary);
	}
	.mobile-menu .social-networks {
		display: flex !important;
		justify-content:center;
		margin-top:1rem;
	}
	.nav-toggle, .is_stuck .nav-toggle {
		display:block !important;
	}
	.nav-toggle .nav-icon {
		background-color:transparent;
		&:before {
			transform:rotate(45deg);
		}
		&:after {
			transform:rotate(-45deg);
		}
	}
}
.is_stuck  {
	.nav-toggle {
		display:block !important;
	}
}